@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;600&display=swap');

body {
    background-color: rgb(43, 167, 158);
    font-family: 'Dosis', sans-serif;
}

header {
    text-align: center;
    margin-top: 3rem;
}

.handleliste {
    margin-left: 10rem;
}