@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;600&display=swap');

html {
    font-size: 100%; /* 16px */
    max-width: 1080px;
    margin: 0;
}

body {
    background-image: url(../assets/background-noise.png);
    font-family: 'Dosis', sans-serif;
}


header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 3rem;
    padding: 0.5rem 0.5rem;
}

.metalhand {
    display: flex;
    flex-wrap: nowrap;
    height: 4.5rem; 
    width: 4rem;
}



.topContainer{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
}

#itemInput {
    display: flex;
    flex-wrap: nowrap;
    width: 50%;
    box-shadow: 0.2rem 0.2rem 0.5rem #1c1041;
    border-radius: 3rem;
    
}

input[type=text] {
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0;
    box-sizing: border-box;
    min-width: 3rem;
    font-family: 'dosis', sans-serif;
    font-size: 1.5rem;
  }

  #addButton {
    max-width: 3.4rem;
    max-height: 3.2rem;
    background-color: #472a9e;
    border: none;
    border-radius: 5rem;
    margin: 1rem;
    color: white;
    padding: 1rem 1.3rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    box-shadow: 0.2rem 0.2rem 0.5rem #1c1041; 
  }

li {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    font-size: 1.4rem;
    justify-content: center;
    align-items: baseline;
}



.listDelete {
    background-image: url(../assets/delete.svg);
    width: 1rem;
    height: 1rem;
    background-color: transparent;
    margin-right: 0.5rem;

}